kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: autoresolve
nodes:
- role: control-plane
  extraPortMappings:
  # Grafana
  - containerPort: 30080
    hostPort: 3000
    protocol: TCP
  # Prometheus
  - containerPort: 30090
    hostPort: 9090
    protocol: TCP
  # AlertManager
  - containerPort: 30093
    hostPort: 9093
    protocol: TCP
  # Demo App
  - containerPort: 30500
    hostPort: 5000
    protocol: TCP
